# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# System Files (Mac/Windows gereksiz dosyaları)
.DS_Store
Thumbs.db

# Environment Variables (Şifrelerin veya gizli URL'lerin olabileceği dosyalar)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*